<div id="current_weather">
	<h2>Currently in Tehacahpi</h2>
	Tempature:<%= @current_weather['temp_F'] %>
	</br>
	<%= image_tag(@current_weather['weatherIconUrl'][0]['value']) %>
	</br>
	<%= @current_weather['description'] %>
	</br>
	Humidity: <%= @current_weather['humidity'] %>
	</br>
	Wind Speed: <%= @current_weather['windspeedMiles'] %>
	</br>
	Wind Direction: <%= @current_weather['winddir16Point'] %>
</div>