<ul class="nav nav-pills nav-stacked">
  <li><a class="btn btn-default" href="<%= root_path %>">Home</a></li>
  <li><a class="btn btn-default" href="<%= new_rsvp_path %>">RSVP</a></li>
  <li><a class="btn btn-default" href="<%= registry_path %>">Registry</a></li>
  <li><a class="btn btn-default" href="<%= contact_path %>">Contact</a></li>
  <li><a class="btn btn-default" href="<%= guestbooks_path%>">GuestBook</a></li>
  <li><a class="btn btn-default" href="<%= hotels_path %>">Hotels</a></li>
</ul>
