<nav class="navbar-default" role="navigation" id='full-nav-bar'>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header ">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#centeredmenu">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="/">ZKForever</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="centeredmenu">
    <ul class="nav navbar-nav">
      <li>
        <a href="<%= root_path %>" class="black-href shadow-radial"><p class="font-large">Home</p></a>
      </li>

      <li>
        <a href="<%= new_rsvp_path %>" class="black-href shadow-radial"><p class="font-large">RSVP</p></a>
      </li>

      <li>
        <a href="<%= registry_path %>" class="black-href shadow-radial"><p class="font-large">Registry</p></a>
      </li>

      <li>
        <a href="<%= guestbooks_path %>" class="black-href shadow-radial"><p class="font-large">Guestbook</p></a>
      </li>

      <li>
        <a href="<%= hotels_path %>" class="black-href shadow-radial"><p class="font-large">Hotels</p></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div>
</nav>