<div id="top-nav-bar">

  <nav class="fixed-top hidden-sm hidden-md hidden-lg">
      <div class="nav-menu slideDown w-divider">
        <ul>

          <li>
            <input type="button" class="btn no-background remove-padding shadow-radial">
              <a href="<%= root_path %>" class="black-href"><p class="font-large">Home</p></a>
            </input>
          </li>

          <li>
            <input type="button" class="btn no-background remove-padding shadow-radial">
              <a href="<%= new_rsvp_path %>" class="black-href"><p class="font-large">RSVP</p></a>
            </input>
          </li>

          <li>
            <input type="button" class="btn no-background remove-padding shadow-radial">
              <a href="<%= registry_path %>" class="black-href"><p class="font-large">Registry</p></a>
            </input>
          </li>

          <li>
            <input type="button" class="btn no-background remove-padding shadow-radial">
              <a href="<%= guestbooks_path %>" class="black-href"><p class="font-large">Guestbook</p></a>
            </input>
          </li>

          <li>
            <input type="button" class="btn no-background remove-padding shadow-radial">
              <a href="<%= hotels_path %>" class="black-href"><p class="font-large">Hotels</p></a>
            </input>
          </li>

        </ul>
      </div>   
      <a class="s-button s-collapse-trigger" href="#"><i class="fa fa-chevron-down fa-2x"></i></a>
  </nav>

    <!-- *************************** -->
    <!-- Show this on larger screens -->
    <!-- *************************** -->

  <nav class="hidden-xs">
    <div class="btn-group btn-group-justified padding-5"> 

      <div class="btn-group">
        <input type="button" class="btn no-background remove-padding shadow-radial">
          <a href="<%= root_path %>" class="black-href"><p class="font-large">Home</p></a>
        </input> 
      </div>

      <div class="btn-group">
        <input type="button" class="btn no-background remove-padding shadow-radial">
          <a href="<%= new_rsvp_path %>" class="black-href"><p class="font-large">RSVP</p></a>
        </input> 
      </div>

      <div class="btn-group">
        <input type="button" class="btn no-background remove-padding shadow-radial">
          <a href="<%= registry_path %>" class="black-href"><p class="font-large">Registry</p></a>
        </input> 
      </div>

      <div class="btn-group">
        <input type="button" class="btn no-background remove-padding shadow-radial">
          <a href="<%= guestbooks_path %>" class="black-href"><p class="font-large">Guestbook</p></a>
        </input> 
      </div>

      <div class="btn-group">
        <input type="button" class="btn no-background remove-padding shadow-radial">
          <a href="<%= hotels_path %>" class="black-href"><p class="font-large">Hotels</p></a>
        </input> 
      </div>
    </div>
  </nav>
</div>