
<nav class="fixed-top hidden-sm hidden-md hidden-lg" id="top-nav-bar">
  <ul class="top-margin">

    <li>
      <a href="<%= root_path %>" class="black-href"><p class="font-large shadow-radial">Home</p></a>
    </li>

    <li>
      <a href="<%= new_rsvp_path %>" class="black-href"><p class="font-large shadow-radial">RSVP</p></a>
    </li>

    <li>
      <a href="<%= registry_path %>" class="black-href"><p class="font-large shadow-radial">Registry</p></a>
    </li>

    <li>
      <a href="<%= guestbooks_path %>" class="black-href"><p class="font-large shadow-radial">Guestbook</p></a>
    </li>

    <li>
      <a href="<%= hotels_path %>" class="black-href"><p class="font-large shadow-radial">Hotels</p></a>
    </li>

  </ul>  
    <a class="s-button s-collapse-trigger" href="#"><i class="fa fa-chevron-down fa-2x"></i></a>
</nav>
  <!-- *************************** -->
  <!-- Show this on larger screens -->
  <!-- *************************** -->

<nav class="hidden-xs" id="top-nav-bar-expanded">
  
  <ul class="top-margin">

    <li>
      <a href="<%= root_path %>" class="black-href shadow-radial center-top-bar">Home</a>
    </li>

    <li>
      <a href="<%= new_rsvp_path %>" class="black-href shadow-radial center-top-bar">RSVP</a>
    </li>

    <li>
      <a href="<%= registry_path %>" class="black-href shadow-radial center-top-bar">Registry</a>
    </li>

    <li>
      <a href="<%= guestbooks_path %>" class="black-href shadow-radial center-top-bar">Guestbook</a>
    </li>

    <li>
      <a href="<%= hotels_path %>" class="black-href shadow-radial center-top-bar">Hotels</a>
    </li>

  </ul>  
</nav>
