<nav class="navbar navbar-default navbar-static-top" role="navigation" id="top-nav-bar">
  <div class="container-fluid">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <a href="<%= root_path %>" class="btn btn-default navbar-btn btn-large buttons-mine"><p class="font-large">Home</p></a>
      </div>
      <div class="btn-group">
        <a href="<%= new_rsvp_path %>" class="btn btn-default navbar-btn btn-large buttons-mine"><p class="font-large">RSVP</p></a>
      </div>
      <div class="btn-group">
        <a href="<%= registry_path %>" class="btn btn-default navbar-btn btn-large buttons-mine"><p class="font-large">Registry</p></a>
      </div>
      <div class="btn-group">
        <a href="<%= contact_path %>" class="btn btn-default navbar-btn btn-large buttons-mine"><p class="font-large">Contact</p></a>
      </div>
      <div class="btn-group">
        <a href="<%= guestbooks_path %>" class="btn btn-default navbar-btn btn-large buttons-mine"><p class="font-large">Guestbook</p></a>
      </div>
      <div class="btn-group">
        <a href="<%= hotels_path %>" class="btn btn-default navbar-btn btn-large buttons-mine"><p class="font-large">Hotels</p></a>
      </div>
    </div>
  </div>
</nav>

