<nav class="navbar navbar-default navbar-static-top" role="navigation" id="top-nav-bar">
  <div class="container-fluid">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <a href="<%= root_path %>" class="btn btn-default navbar-btn buttons-mine">Home</a>
      </div>
      <div class="btn-group">
        <a href="<%= new_rsvp_path %>" class="btn btn-default navbar-btn buttons-mine">RSVP</a>
      </div>
      <div class="btn-group">
        <a href="<%= registry_path %>" class="btn btn-default navbar-btn buttons-mine">Registry</a>
      </div>
      <!-- <div class="btn-group">
        <a href="<%= contact_path %>" class="btn btn-default navbar-btn buttons-mine">Contact</a>
      </div> -->
      <div class="btn-group">
        <a href="<%= guestbooks_path %>" class="btn btn-default navbar-btn buttons-mine">Guestbook</a>
      </div>
      <div class="btn-group">
        <a href="<%= hotels_path %>" class="btn btn-default navbar-btn buttons-mine">Hotels</a>
      </div>
    </div>
  </div>
</nav>

