
  
<div class="row-fluid">
  <div class="col-md-6 col-md-offset-3" id="my-form">
    <h1 class="center-text">Contact</h1>

    You questions will not be sent directly to anyone in the wedding party. They will be answered by someone that is in contact with the wedding party.
      </br>
      </br>

    <%= form_tag("/send_mail", method: "post", role: 'form') do%>

      <div class="field control-label form-group" >
        <p><%= label_tag :name %></p>
        <p><%= text_field_tag :name, nil, required: '', class: 'form-control'  %></p>
      </div>

      <div class="field control-label form-group" >
        <p><%= label_tag :contact %></p>
        <p><%= text_field_tag :contact, nil, required: '', class: 'form-control' %></p>
      </div>
        
      <div class="field control-label form-group">
        <p><%= label_tag :message %></p>
        <p><%= text_area_tag :message, nil, required: '', class: 'form-control', rows: '8' %></p>
      </div>

        </br>

      <div class="actions form-groupn center-text">
        <p><%= submit_tag 'Send Message', class: "btn btn-default" %></p>
      </div>
      
    <% end %>
  </div>
</div>
</div>