<div class="container-fluid">
<div class="body-title">
  <h1 class="text-center ">Contact</h1>
</div>
<div class="row">
  <div class="my-form">

    <%= form_tag("/send_mail", method: "post", role: 'form') do%>

      <div class="field control-label form-group" >
        <%= label_tag :name %>
        <%= text_field_tag :name, nil, required: '', class: 'form-control'  %>
      </div>

      <div class="field control-label form-group" >
        <%= label_tag :email %>
        <%= text_field_tag :email, nil, required: '', class: 'form-control' %>
      </div>
        
      <div class="field control-label form-group">
        <%= label_tag :message %>
        <%= text_area_tag :message, nil, class: 'form-control', rows: '8' %>
      </div>

        </br>

      <div class="actions form-group">
        <%= submit_tag 'Send Message', class: "btn btn-default" %>
      </div>
      
    <% end %>
  </div>
</div>
</div>