<div class="results">
	<iframe
	  width="600"
	  height="450"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC2jnFNLoXJAeIG9Eo1qIWEGmZNhxf1Em8&q=500+E+Steuber+Rd+Tehachapi+CA,418+W+Tehachapi+Blvd">
	</iframe>
	</br>
	<div>
		<% @hotels.each do |hotel| %>
		  <h2><%= hotel['name'] %></h2>
		  <% if hotel['logo'] %>
		  	<%= image_tag("hotel_images/#{hotel['logo']}", size: "160x100") %>
		  <% end %>
		  <%= hotel['address'] %>
		  <%= hotel['phone'] %>
		  <%= hotel['rating'] %>/5 stars
		  <%= hotel['price'] %>
		  <% if hotel['image'] %>
		  	<%= image_tag("hotel_images/#{hotel['image']}", size: "160x100") %>
	  	<% end %>
		<% end %>
	</div>
</div>