<!-- carousel -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://i.imgur.com/skEDGuo.png" alt="foo">
      <div class="container">
        <div class="carousel-caption">
          <h1>These dudes gay</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/7TsAXnA.jpg" alt="foo">
    </div>
    <div class="item">
      <img src="http://i.imgur.com/MNUOBEA.jpg" alt="foo">
    </div>
    <div class="item">
      <img src="http://i.imgur.com/khAVTfJ.jpg" alt="foo">
    </div>
    <div class="item">
      <img src="https://33.media.tumblr.com/8d044dcfcc872afd211ee96fe68cdece/tumblr_n3r7pe0mO51s2yegdo1_400.gif" alt="foo">
    </div>
    <div class="item">
      <img src="http://i.imgur.com/Joh3xxK.jpg" alt="foo">
    </div>
  </div>
</div><!-- /.carousel -->


Wedding Location: Tehahacpi
</br>
</br>
Date: Decemberish
</br>
</br>
How to RSVP: Click the link!
</br>
</br>
I have a question: Click the link!

</br>
</br>
<h1>Most recent update</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created On</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.created_at.to_formatted_s(:short) %></td>
        <td><%= blog.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Guestbooks most recent</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created on</th>
      <th>Message</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guestbooks.each do |guestbook| %>
      <tr>
        <td><%= guestbook.name %></td>
        <td><%= guestbook.created_at.to_formatted_s(:short) %></td>
        <td><%= guestbook.message %></td>
        <td title="Click to report"><%= flag_status(guestbook)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
