= form_tag(export_rsvps_path, method: "get", class: "form-horizontal center-text", target: "_blank") do
  .control-group
    .controls.form-inline
      = hidden_field_tag 'sort_by', params[:sort_by]
      = hidden_field_tag 'order_by', params[:order_by]
      = hidden_field_tag 'show', params[:show]
      = select_tag :extension, options_for_select( {'PDF' => 'pdf', 'CSV' => 'csv'}), { :class => 'btn btn-default btn-lg' }
      = submit_tag 'Export whats showing', class: "btn btn-default btn-sm", title: 'Exports current report exactly as you are looking at it.'
%hr/
.center-text
  %b Total people attending:
  = @total_count
%table#rsvp-table.table.table-striped.table-bordered
  %thead
    %tr
      %th{width: "22"}
      %th{width: "300"}
        = direction_arrow('name')
        %a.sort_col{href: "#"} Name
      %th{width: "400"}
        = direction_arrow('contact')
        %a.sort_col{href: "#"} Contact
      %th{width: "80"}
        = direction_arrow('attending')
        %a.sort_col{href: "#"} Attending
      %th{width: "100"}
        = direction_arrow('party_size')
        %a.sort_col{href: "#"} Party size
      %th{width: "20"}
      %th{width: "20"}
  %tbody
    - @rsvps.each_with_index do |rsvp,i|
      %tr
        %td
          %p= i+1
        %td
          %p= rsvp.name
        %td
          %p= rsvp.contact
        %td
          %p= noramlize_bool(rsvp.attending)
        %td
          %p= rsvp.party_size
        %td
          %p= link_to 'Edit', "/rsvps/#{rsvp.id}/edit?sort_by=#{params[:sort_by]}&order_by=#{params[:order_by]}&show=#{params[:show]}", class: 'map-link'
        %td
          %p= link_to 'Destroy', "/rsvps/#{rsvp.id}?sort_by=#{params[:sort_by]}&order_by=#{params[:order_by]}&show=#{params[:show]}", method: :delete, class: 'map-link',data: { confirm: 'Are you sure?' }
