<h1 class="text-center body-title">Showing all RSVPs</h1>

<div class="white-background">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><p>Name</p></th>
      <th><p>Contact</p></th>
      <th><p>Attending</p></th>
      <th><p>Party size</p></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><p><%= rsvp.name %></p></td>
        <td><p><%= rsvp.contact %></p></td>
        <td><p><%= rsvp.attending %></p></td>
        <td><p><%= rsvp.party_size %></p></td>
        <td><p><%= link_to 'Edit', edit_rsvp_path(rsvp) %></p></td>
        <td><p><%= link_to 'Destroy', rsvp, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>