<h1 class="text-center body-title">Showing all RSVPs</h1>

<div class="white-background">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= link_to('Name',rsvps_path(:order_by => 'name')) %></th>
      <th><%= link_to('Contact',rsvps_path(:order_by => 'contact')) %></th>
      <th><%= link_to('Attending',rsvps_path(:order_by => 'attending')) %></th>
      <th><%= link_to('Name',rsvps_path(:order_by => 'party_size')) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><%= rsvp.name %></td>
        <td><%= rsvp.contact %></td>
        <td><%= rsvp.attending %></td>
        <td><%= rsvp.party_size %></td>
        <td><%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
        <td><%= link_to 'Destroy', rsvp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>