
<thead>
  <tr>
    <th>Name</th>
    <th>Created on</th>
    <th>Message</th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
  <% post.each do |guestbook| %>
    <tr>
      <td><p><%= guestbook.name %></p></td>
      <td><p><%= guestbook.created_at.to_formatted_s(:short) %></p></td>
      <td><p><%= guestbook.message %></p></td>
      <td><p><%= link_to 'Destroy', guestbook, method: :delete,class: 'map-link', data: { confirm: 'Are you sure?' } %></p></td>
      <% if guestbook.flag == false %>
        <td><p>Approved</p></td>
      <% else %>
        <td><p><%= link_to 'Approve', approve_guestbook_path(guestbook.id), class: 'map-link' %></p></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
