
<thead>
  <tr>
    <th>Name</th>
    <th>Created on</th>
    <th>Message</th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
  <% post.each do |guestbook| %>
    <tr>
      <td><%= guestbook.name %></td>
      <td><%= guestbook.created_at.to_formatted_s(:short) %></td>
      <td><%= guestbook.message %></td>
      <td><%= link_to 'Destroy', guestbook, method: :delete,class: 'map-link', data: { confirm: 'Are you sure?' } %></td>
      <% if guestbook.flag == true %>
      <td><%= link_to 'Approve', approve_guestbook_path(guestbook.id), class: 'map-link' %></td>
      <% else %>
      <td>Approved</td>
      <% end %>
    </tr>
  <% end %>
</tbody>
