
<h1 class="text-center">Guestbook</h1>
<div align="right">
  <p><%= link_to('Admin', manage_guestbooks_path) %></p>
</div>

<%= render partial: 'form' %>

<%= paginate @guestbooks %>

<div id="user-form">
<% @guestbooks.each do |guestbook| %>
  <div class="guestbook-message container-fluid">
    <div title="Report for inapropriate content"><p><%= flag_status(guestbook)%></p></div>
    <div><b><p><%= guestbook.name %></p></b></div>
    <div><i><p><%= guestbook.created_at.to_formatted_s(:short) %></p></i></div>
    <div><p><%= guestbook.message %></p></div>
  </div>
<% end %>
</div>
