<!DOCTYPE html>
<html lang="en">

	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Zack and Katie Forever</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>

	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<div id="content" class="container">
			<div id='header' class="row">
				<div class="col-md-12">
					<%= image_tag("2.png", :alt => "banner", :id => 'top-image', class: 'img-responsive') %>
				</div>
			</div>

			<div id='top-bar' class="row">
				<div class="col-md-12">
					<%= render partial: 'static_pages/top_bar' %>
						<!-- <%= image_tag("sunflowermirror.png", :alt => "sunflower", :id => 'sunflower') %> -->
				</div>
			</div>

			<div id="main-body" class="row">
				<div class="col-md-12">
					<div >
						<% flash.each do |name, msg| -%>
				  		<%= content_tag :div, msg, class: name %>
						<% end -%>
						<%= yield %>
					</div>
				</div>
			</div>

			<div id="footer" class="row">
				<div class="col-md-12">
					<%= image_tag("elephants.png", :alt => "banner", :id => 'top-image', class: 'img-responsive', id: 'footer-image') %>
				</div>
			</div>

		</div>
	</body>
</html>